﻿@model IList<LICL_AsistenciaDocente_EL.E_Alumno>

@{
    ViewBag.Title = "Asistencia de alumnos";
}

<div class="container" style="background-color: white; width: 700px; padding: 50px;">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="table-responsive">
        @*@using (Html.BeginForm("Edit", "MyController", FormMethod.Post))*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            if (ViewBag.msjError != null && ViewBag.msjError != "")
            {
            <div class="alert alert-danger" role="alert">@ViewBag.msjError</div>
            <hr />
            @Html.ActionLink("Cancelar", "Horario", "Asistencia", null, new { @class = "btn btn-primary" });
            }
            else
            {   
            <table class="table table-striped  table-bordered  table-condensed">
                <thead>
                    <tr>
                        <th>Nro</th>
                        @*<th>Codigo</th>*@
                        <th>Apellidos y Nombres</th>
                        <th>¿Asistió?</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>
                                @Html.DisplayFor(x => x[i].APELLIDO_PATERNO) @Html.DisplayFor(x => x[i].APELLIDO_MATERNO),
                                @Html.DisplayFor(x => x[i].NOMBRES)
                            </td>
                            <td>

                                @Html.HiddenFor(x => x[i].ALUMNO)
                                @Html.HiddenFor(x => x[i].INSTITUCION)
                                @Html.HiddenFor(x => x[i].CICLO_LECTIVO)
                                @*@Html.HiddenFor(x => x[i].MATERIA)
                                    @Html.HiddenFor(x => x[i].N_CATALOGO)*@
                                @Html.HiddenFor(x => x[i].CARRERA_ACADEMICA)
                                @*@Html.HiddenFor(x => x[i].CAMPUS)
                                    @Html.HiddenFor(x => x[i].SESION)*@
                                @Html.HiddenFor(x => x[i].N_CLASE)
                                @*@Html.HiddenFor(x => x[i].N_SECCION)
                                    @Html.HiddenFor(x => x[i].FECHA_ASISTENCIA)*@
                                @Html.HiddenFor(x => x[i].ALUMNO)
                                @Html.HiddenFor(x => x[i].PRESENTE)
                                @*@Html.HiddenFor(x => x[i].TARDE)
                                    @Html.HiddenFor(x => x[i].SALIO_TEMPRANO)
                                    @Html.HiddenFor(x => x[i].MOTIVO)*@
                                @Html.HiddenFor(x => x[i].HORA_INI)
                                @Html.CheckBoxFor(x => x[i].ASISTENCIA, new Dictionary<String, object> { { "data-toggle", "toggle" }, { "data-on", "Si" }, { "data-off", "No" }, { "data-onstyle", "primary" }, { "data-offstyle", "default" }, { "data-size", "small" } })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <hr />
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Horario", "Asistencia", null, new { @class = "btn btn-primary" });

            }

        }
    </div>
</div>
