﻿
body {
    /*padding-top: 40px;
    padding-bottom: 40px;*/
    background-color: #e4e4e4;
    /*background-image:url("../Images/fondo.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.form-signin {
    max-width: 350px;
    padding: 0px 30px 30px 30px;
    margin: 40px auto 20px;
    background-color: #fff;
    border: 6px solid #cfcfcf;
    /*border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
}

    .form-signin .form-signin-heading {
        text-align: center;
        font-size: 18px;
        font-family: 'Times New Roman';
        padding-top: 15px;
        padding-bottom: 15px;
        color: #792c1a;
    }

    .form-signin .input-group {
        margin-bottom: 10px;
    }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 13px;
    background-color: #1a1818;
}

    .footer > .container {
        padding: 10px;
    }

.container .text-muted {
    margin: 20px 0;
}


.header {
    display: block;
    background-color: white;
}
