﻿@model MVC_AsistenciaDocente.Models.Usuario

@{
    ViewBag.Title = "Index";
}

@*using (Html.BeginForm("Index", "Inicio", FormMethod.Post, new { @class = "form-signin" }))*@

<div class="containers">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <div class="form-signin">


            <h2 class="form-signin-heading">Iniciar sesión</h2>

            @Html.LabelFor(m => m.usu, new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.usu, new { @class = "form-control", @placeholder = "Usuario" })
            @Html.ValidationMessageFor(m => m.usu)

            @Html.LabelFor(m => m.pwd, new { @class = "sr-only" })
            @Html.PasswordFor(m => m.pwd, new { @class = "form-control", @placeholder = "Contraseña" })
            @Html.ValidationMessageFor(m => m.pwd)

            @Html.AntiForgeryToken()
            <span style="color: red">
                @Html.ValidationSummary(true)
            </span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        </div>
    }
</div>
