﻿@model  IEnumerable<LICL_AsistenciaDocente_EL.E_Horario>

@{
    ViewBag.Title = @ViewBag.Nombres;
}

@if (Model.Count() != 0)
{    
 
             @* prueba *@
            if (ViewBag.campus == "1")
            {
                  <div class="jumbotron" style="padding: 30px 50px 30px 50px; margin: auto; background-color: white; width: 800px; border: 6px solid #cfcfcf; margin-top: 50px">
                Estimado Docente de IDAT:
                     <br />
                     <br />
                     <span>
                Debido a que estamos realizando mejoras en nuestra plataforma,  desde el viernes 28 de abril (desde las 6:00pm) hasta el martes 2 de mayo a las 8:00 am, no se podrá realizar el marcado de asistencia en aula.  Coordinación Académica regularizará tu asistencia.
                         </span>
                         <br />
                     <br />
                             <span>
                Si tienes alguna consulta, por favor, acércate a tu Coordinación Académica o escríbenos a  <a href="mailto:mesadeayuda@idat.edu.pe">mesadeayuda@idat.edu.pe</a>  
                         </span>
                </div>
            }
            else           
            {
    
                
    <div id="popConfirmacion" style="display: block">
    </div>
    <div class="jumbotron" style="padding: 30px 50px 30px 50px; margin: auto; background-color: white; width: 800px; border: 6px solid #cfcfcf; margin-top: 50px">
        <div>
            @if (Model.Where(m => m.marcacion_entrada.Hour == 0 & m.enclase == true & m.enLocal == true).Count() == 0)
            {
                <div style="text-align: right">
                    <a href='#' data-toggle="modal" data-target='#programacion'>Ver clases de hoy</a>
                </div>
            }

            <div class="container">
                Bienvenido docente
                @if (Model.First().tipo == "AS")
                {
                    <span style="font-weight: bold; font-size: 18px">@Model.First().nomDocente @Model.First().apePatDocente @Model.First().apeMatDocente</span>
                }
                else
                {
                    <span style="font-weight: bold; font-size: 18px">@Model.First().FIRST_NAME @Model.First().LAST_NAME @Model.First().SECOND_LAST_NAME - (@Model.First().codDocente)</span>
                }
                <br />
                <br />

                @if (ViewBag.msg2 != "" && ViewBag.msg2 != null)
                {
                    string respuesta = ViewBag.msg2;
                    LICL_AsistenciaDocente_EL.E_Horario curso = ViewBag.curso;
                    switch (respuesta)
                    {

                        case "01":
                            //========= 01 ========== En clase en otro local
                    <span>No puedes marcar asistencia de la clase del curso: <b>@curso.codCurso - @curso.nomCurso</b>
                        porque no te encuentras en el aula <b style="font-size: 20px">@curso.codAmbiente</b> del local
                                <b>@curso.dirAmbiente.ToUpper()</b>.
                                @*de <b style="font-size: 20px">@curso.hora_inicio.ToString("00:00")</b> a  <b style="font-size: 20px">@curso.hora_termino.ToString("00:00")</b>.*@
                    </span>
                            //========= 01 ==========
                            break;

                        case "02":
                            //========= 02 ========== Falta min en el mismo local
                            if (curso.tipo == "AS")
                            {
                    <span>La clase del curso <b>@curso.codCurso - @curso.nomCurso</b> inicia en <b style="font-size: 20px">@(curso.minFaltantes / 60)h</b> y <b style="font-size: 20px">@(curso.minFaltantes % 60)m</b> aula <b style="font-size: 20px">@curso.codAmbiente</b>.</span>
                            }
                            else
                            {
                    <span>La clase del curso <b>@curso.codCurso - @curso.nomCurso</b> inicia en <b style="font-size: 20px">@(curso.minFaltantes / 60)h</b> y <b style="font-size: 20px">@(curso.minFaltantes % 60)m</b> aula <b style="font-size: 20px">@curso.codAmbiente</b>.</span>
                            }

                    <span>Metadata: @curso.codLocal | @curso.codAmbiente | @ViewBag.ip </span>
                            
                            //========= 02 ==========
                            break;
                        case "03":
                            //========= 03 == Falt min en otro local
                    <span>La clase del curso <b>@curso.codCurso - @curso.nomCurso</b>

                        inicia en  <b style="font-size: 20px">@(curso.minFaltantes / 60)h</b> y <b style="font-size: 20px">@(curso.minFaltantes % 60)m</b>.
                                <br />
                        Recuerda que para registrar tu marcación debes encontrarte en el aula <b style="font-size: 20px">@curso.codAmbiente</b>  de la sede
                    </span>
                    <b>@curso.dirAmbiente.</b>
                            //========= 03 ==========
                            break;
                        case "04":
                            //========= 04 ==========  Tiene clases en otro local
                    <span>No tiene clase programada en lo que resta del día.</span>
                            //========= 04 ==========
                            break;

@*
                                case "05":
                                //========= 05 ==========
                                <span>Tiene clase programada de : <b>@curso.codCurso - @curso.nomCurso</b>
                                en la aula <b>@curso.codAmbiente.Substring(2, 5)</b> de <b>@curso.hora_inicio.ToString("00:00")</b> a <b>@curso.hora_termino.ToString("00:00")</b></span>
                                //========= 05 ==========
                                break;
                            *@
                    }
                    <br />
                    <br />
                    <br />


                    if (ViewBag.toleracionInicial > 0)
                    {
                    <sub><b>* Recuerde que puede registrar su asistencia @ViewBag.toleracionInicial minutos antes del inicio de clases</b></sub>
                    }



                }
                else
                {
                    <span>Te encuentras en la clase: @(Model.First().CLASS_NBR)</span>
                }
            </div>


            @*foreach (var item in ((List<LICL_AsistenciaDocente_EL.E_Horario>)ViewBag.Horario).OrderBy(m => m.hora_inicio))*@
            
             @*original*@
          @foreach (var item in Model.Where(m => m.enclase == true & m.enLocal == true).OrderByDescending(m => m.hora_inicio))
          {
                <div class="modal-body">
                    <div class="container">

                        <div>
                            <table class="table table-bordered">
                                <tr>
                                    <th style="background-color: @((item.tipoPrograma == "E") ? "#daa" : "#eee"); width: 200px;">@((item.tipoPrograma == "E") ? "Actividad" : "Curso")</th>
                                    <td>@item.codCurso - @item.nomCurso</td>
                                </tr>
                                <tr>
                                    <th style="background-color: @((item.tipoPrograma == "E") ? "#daa" : "#eee"); width: 200px;">Horario</th>
                                    <td>@item.hora_inicio.ToShortTimeString() a @item.hora_termino.ToShortTimeString()</td>
                                </tr>
                                @if (@item.marcacion_entrada.Hour > 0)
                                {
                                    <tr>
                                        <th style="background-color: @((item.tipoPrograma == "E") ? "#daa" : "#eee"); width: 200px;">Marcación registrada</th>
                                        <td>@item.marcacion_entrada.ToShortTimeString()</td>
                                    </tr>
                                }
                            </table>

                        </div>

                         @if (item.tipo == "PS" & item.marcacion_entrada.Hour <= 0)
                         {
                             using (Html.BeginForm())
                             {
                                 LibCryptoUTP.EncriptaUTP cryp = new LibCryptoUTP.EncriptaUTP();
                                 var json = Newtonsoft.Json.JsonConvert.SerializeObject(item);  
                            @Html.AntiForgeryToken()
                            <div style="width: 300px; margin: auto">
                                @Html.ActionLink("Registra tu asistencia", "asistenciaDocente", new { _json = cryp.EncriptaAES128(json, "qwe123asd") }, new { @class = "btn btn-primary  btn-block" })


                              


                                @*<a href='@Url.Action("asistenciaDocente", item)' class="btn btn-primary  btn-block">Registra tu asistencia</a>*@
                            </div>
                             }
                         }
                         else if (item.tipo == "AS" & item.marcacion_entrada.Hour <= 0)
                         {
                             using (Html.BeginForm())
                             {
                                 LibCryptoUTP.EncriptaUTP cryp = new LibCryptoUTP.EncriptaUTP();
                                 var json = Newtonsoft.Json.JsonConvert.SerializeObject(item);  
                            @Html.AntiForgeryToken()
                            <div style="width: 300px; margin: auto">
                                @Html.ActionLink("Registra tu asistencia", "asistenciaDocente", new { _json = cryp.EncriptaAES128(json, "qwe123asd") }, new { @class = "btn btn-primary  btn-block" })
                                @*<a href='@Url.Action("asistenciaDocente", item)' class="btn btn-primary  btn-block">Registra tu asistencia</a>*@
                            </div>
                             }
                         }
                         else
                         {

                       
                            <b>La marcación fue registrada con éxito. Recuerda que no será necesario que registres tu salida.</b>

@*ASISTENCIA DE ALUMNOS*@
                             if (item.tipo == "PS")
                             {
                                 using (Html.BeginForm("Asistencia", "Asistencia", FormMethod.Post))
                                 {
                                     LibCryptoUTP.EncriptaUTP cryp = new LibCryptoUTP.EncriptaUTP();
                                     var json = Newtonsoft.Json.JsonConvert.SerializeObject(item);                                   
                                    
                            @Html.AntiForgeryToken()
                            <div style="width: 300px; margin: auto">
                                @Html.ActionLink("Registrar asistencia de alumnos", "Asistencia", new { _json = cryp.EncriptaAES128(json, "qwe123asd") }, new { @class = "btn btn-primary  btn-block" })
                                @*<a href='@Url.Action("Asistencia", item)' class="btn btn-primary  btn-block">Registrar asistencia de alumnos</a>*@
                            </div>
                                 }

                                 
                             }
                         }

                    </div>
                </div>}
        </div>
    </div>
    <div id='programacion' class="modal fade" role="dialog" style="margin-top: 150px">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    A continuación tus clases programadas para hoy :
                </div>
                @using (Html.BeginForm())
                {
                    <div class="modal-body">
                        <table class="table table-bordered table-striped" style="font-size: 10px">
                            <thead style="background-color: #eee; color: black; font-weight: bold">
                                <tr>
                                    <th style="width: 200px; text-align: center;">CURSO</th>
                                    <th style="width: 200px; text-align: center;">LOCAL</th>
                                    <th style="width: 40px; text-align: center;">AULA</th>
                                    <th style="width: 50px; text-align: center;">INICIO</th>
                                    <th style="width: 50px; text-align: center;">TÉRMINO</th>
                                    @if (Model.First().tipo == "PS")
                                    {
                                        <th style="width: 50px; text-align: center;">MARCACIÓN</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @*foreach (var fila in ((List<LICL_AsistenciaDocente_EL.E_Horario>)ViewBag.Horario))*@
                                @foreach (var item in Model.OrderBy(m => m.hora_inicio))
                                {
                                    <tr>
                                        <td style="font-weight: bold; vertical-align: middle;">
                                            @item.codCurso - @item.nomCurso
                                        </td>
                                        @*<td>@item.dirAmbiente.ToUpper() ( PABELLON @item.codAmbiente.Substring(2, 1) NIVEL @item.codAmbiente.Substring(3, 2) AULA @item.codAmbiente.Substring(5, 2) )</td>*@
                                        <td style="text-align: center; vertical-align: middle;">@item.dirAmbiente.ToUpper().Trim()</td>
                                        <td style="text-align: center; vertical-align: middle;">@item.codAmbiente </td>
                                        <td style="text-align: center; vertical-align: middle;">@item.hora_inicio.ToShortTimeString()</td>
                                        <td style="text-align: center; vertical-align: middle;">@item.hora_termino.ToShortTimeString()</td>
                                        @if (item.tipo == "PS")
                                        {
                                            <td style="text-align: center; vertical-align: middle;">@item.observacion</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
                if (ViewBag.msg != "" && ViewBag.msg != null)
                {
    <div id="msg" class="modal fade in" role="dialog" style="margin-top: 300px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mensaje</h4>
                </div>
                <div class="modal-body">
                    @ViewBag.msg
                </div>
                <div class="modal-footer" style="text-align: center">
                    @*<button type="button" class="close" data-dismiss="modal">Cerrar</button>*@
                    <button type="button" class="btn btn-primary" style="width: 100px" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
                }

            }

} @* prueba *@
else
{
    @*  original 
    <div class="jumbotron" style="padding: 30px 50px 30px 50px; margin: auto; background-color: white; width: 800px; border: 6px solid #cfcfcf; margin-top: 50px">
        Estimado Docente, no tiene clase programada para el dia de hoy.
    </div>
    original  *@
    
    
    if (ViewBag.campus == "1")
    {
                 @* <div class="alert alert-danger">@ViewBag.msjacceso</div>*@
                 <div class="jumbotron" style="padding: 30px 50px 30px 50px; margin: auto; background-color: white; width: 800px; border: 6px solid #cfcfcf; margin-top: 50px">
                Estimado Docente de IDAT:
                     <br />
                     <br />
                     <span>
                Debido a que estamos realizando mejoras en nuestra plataforma,  desde el viernes 28 de abril (desde las 6:00pm) hasta el martes 2 de mayo a las 8:00 am, no se podrá realizar el marcado de asistencia en aula.  Coordinación Académica regularizará tu asistencia.
                         </span>
                         <br />
                     <br />
                             <span>
                Si tienes alguna consulta, por favor, acércate a tu Coordinación Académica o escríbenos a  <a href="mailto:mesadeayuda@idat.edu.pe">mesadeayuda@idat.edu.pe</a>  
                         </span>
                </div>
    
    }
    else
    {
                <div class="jumbotron" style="padding: 30px 50px 30px 50px; margin: auto; background-color: white; width: 800px; border: 6px solid #cfcfcf; margin-top: 50px">
                Estimado Docente, no tiene clase programada para el dia de hoy.
                </div>
    }


}


<script src="~/js/jquery-1.11.3.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-dialog.min.js"></script>
<link href="~/css/bootstrap-dialog.min.css" rel="stylesheet" />

<script>
    function mostrarMsj(mensaje) {
        BootstrapDialog.show({
            closable: false,
            title: 'Mensaje',
            message: mensaje,
           type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [{
                label: 'Aceptar',
                action: function (dialogItself) {
                    dialogItself.close();
                    $(".modal-backdrop").remove();
                }
            }]
        });
    }
</script>

@if (ViewBag.confirmacionAsistencia != "")
{
    <script>
        mostrarMsj('@(ViewBag.confirmacionAsistencia)')
    </script>
}

@* aviso asistencia de alumnos *@
<script>
    function mostrarMsj(mensaje) {
        BootstrapDialog.show({
            closable: false,
            title: 'Recuerda',
            message: mensaje,
            type: BootstrapDialog.TYPE_DANGER,
            buttons: [{
                label: 'Aceptar',
                action: function (dialogItself) {
                    dialogItself.close();
                    $(".modal-backdrop").remove();
                }
            }]
        });
    }
</script>

@if (ViewBag.confirmacionAsistalu != "")
{
    <script>
        mostrarMsj('@(ViewBag.confirmacionAsistalu)')
    </script>
}

