﻿@model MVC_AsistenciaDocente.Models.Usuario

@{
    ViewBag.Title = "Inicio de sesion";
    LICL_AsistenciaDocente_BL.B_Docente oDocente = new LICL_AsistenciaDocente_BL.B_Docente();
}

@*using (Html.BeginForm("Index", "Inicio", FormMethod.Post, new { @class = "form-signin" }))*@



@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-signin">

            <div class="form-signin-heading" style="font-family: Arial; font-weight: bold">
                SISTEMA DE MARCACIÓN DOCENTE
            </div>


            <hr />
            <p style="text-align: center">
                <img src="~/Images/atix.png" width="200px" />
            </p>

            @if (ViewBag.loginmsg != null)
            {
                <div class="alert alert-danger">@ViewBag.loginmsg</div>
            }
            else
            {
                @Html.ValidationMessageFor(m => m.usu, null, new { @style = "color:red;font-size:10px" })
                                
                                

@*<label for='usu'>Usuario</label>*@
                <div class="input-group">

                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>


                    @Html.TextBoxFor(m => m.usu, new Dictionary<String, object> { { "class", "form-control" }, { "placeholder", "Usuario" }, { "aria-describedby", "basic-addon2" } })
                </div>

                @Html.ValidationMessageFor(m => m.pwd, null, new { @style = "color:red;font-size:10px" })
                                
@*<label for='pwd'>Contraseña</label>*@
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    @Html.PasswordFor(m => m.pwd, new Dictionary<String, object> { { "class", "form-control" }, { "placeholder", "Contraseña" }, { "aria-describedby", "basic-addon2" } })

                  

                </div>


                
                //Modo testing
                
                if (System.Configuration.ConfigurationManager.AppSettings["TST"].ToString() == "1")
                {
<div class="form-group">
                    <label>Fecha de Clase</label>
                    <br />
                    @Html.TextBoxFor(m => m.anio, new Dictionary<String, object> { { "placeholder", "AAAA" }, { "style", "width:50px" } })
                    <span>/</span>
                    @Html.TextBoxFor(m => m.mes, new Dictionary<String, object> { { "placeholder", "MM" }, { "style", "width:25px" } })
                    <span>/</span>
                    @Html.TextBoxFor(m => m.dia, new Dictionary<String, object> { { "placeholder", "DD" }, { "style", "width:25px" } })
                    <span>-</span>
                    @Html.TextBoxFor(m => m.hora, new Dictionary<String, object> { { "placeholder", "HH" }, { "style", "width:25px" } })
                    <span>:</span>
                    @Html.TextBoxFor(m => m.min, new Dictionary<String, object> { { "placeholder", "MM" }, { "style", "width:25px" } })

                    </div>

<div class="form-group">
                    <label>Local de clase</label>
                    <br />
                    <select class="form-control" id="local" name="local">

                        @*@foreach (LICL_AsistenciaDocente_EL.E_Local item in oDocente.consultaLocales())
                        {
<option value='@item.codlocal'>@item.nomlocal</option>
                        }*@
                </select>
                </div>
                }
                //Modo testing
                
                
                <button class="btn btn-primary btn-block" type="submit" id="btnlog">Ingresar</button>


                if (Html.ValidationSummary(true, null, new { @class = "alert alert-danger", @style = "margin-top:10px" }) != null)
                {
                <div id="msg" class="modal fade in" role="dialog" style="margin-top: 300px">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Mensaje</h4>
                            </div>
                            <div class="modal-body">
                                @Html.ValidationSummary(true)
                            </div>
                            <div class="modal-footer" style="text-align: center">
                                <button type="button" class="btn btn-primary" style="width: 100px" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
}
