﻿@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@*<h4>Please wait for <span id="count"></span> seconds to view session timeout popup.</h4>*@

 <!--Start Show Session Expire Warning Popup here -->
    <div class="modal fade" id="session-expire-warning-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">                  
                    <h4 style="color:green" class="modal-title">Tu sesión está a punto de expirar</h4>
                </div>
                <div class="modal-body">
                   <label style="color:red"><span class="glyphicon glyphicon-time"></span>  Sesión expira en:  <span id="seconds-timer"></span>s </label><p />

                    Si deseas mantener tu sesión por favor presiona continuar
                </div>
                <div class="modal-footer">
                    <button id="btnOk" type="button" class="btn btn-success" >Continuar <span class="glyphicon glyphicon-chevron-right"></span></button>
                    @*<button id="btnSessionExpiredCancelled" type="button" class="btn btn-default" data-dismiss="modal" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px; background-color: #428bca; color: #FFF;">Cancel</button>*@
                    @*<button id="btnLogoutNow" type="button" class="btn btn-default" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px;  background-color: #428bca; color: #FFF;">Logout now</button>*@
                </div>
            </div>
        </div>
    </div>
    <!--End Show Session Expire Warning Popup here -->
    <!--Start Show Session Expire Popup here -->
    <div class="modal fade" id="session-expired-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sesión expirada</h4>
                </div>
                <div class="modal-body">
                    Su sesión ha expirado.
                </div>
                <div class="modal-footer">
                    <button id="btnExpiredOk" onclick="sessionExpiredRedirect()" type="button" class="btn btn-primary" data-dismiss="modal" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px; background-color: #428bca; color: #FFF;">Ok</button>
                </div>
            </div>
        </div>
    </div>
	<script src="~/js/sessionTimeout.js"></script>
	 <!-- This will init session -->
	<script>
	 initSessionMonitor();
	</script>
	 <!-- This script is only for show cound down timer on HTML Page -->
@*<script type="text/javascript">

window.onload = function(){

(function(){
  var counter = 20;

  setInterval(function() {
    counter--;
    if (counter >= 0) {
      span = document.getElementById("count");
      span.innerHTML = counter;
    }    
    if (counter === 0) {      
        clearInterval(counter);
    }

  }, 1000);

})();

}
</script>*@

@{
    
    if (Session["vUnidad"].ToString() == "UNUTP") 
    { 
        var vmargin  = (Convert.ToBoolean(Session["notifyDelegado"])) ? "100px" : "0px";
        var vpadding = (Convert.ToBoolean(Session["notifyDelegado"])) ? "100px" : "0px";

        if (Convert.ToBoolean(Session["DiferenciaIPs"]))
        {
            <div id="notifyDiferenciaIPs" style="bottom: 5px; right: 5px; position: fixed; width: 310px; height: auto; margin: @vmargin; padding: @vpadding; list-style-type: none; z-index: 10000000; display: none;">
                <div class="notibar" id="notibar">
                    <div class='wrap_noti alerta notify' 
                        style='overflow: hidden; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 5px solid white!important; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px; color: white; width: 310px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==) 0% 0% repeat-x scroll #e74a3b!important;'>
                        <div align="right"><a href='#' class='icon-remove' onclick="$('#notifyDiferenciaIPs').slideUp();" style="color:white!important">x</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div style="font: normal 13px Tahoma; text-align:justify; padding: 5px 5px 5px 5px;">
                            <p><b>- Alerta! -</b></p>
                            Estimado(a) Docente <b>@ViewBag.docente</b><br />
                            la Marcación de su asistencia y la toma de la asistencia de Alumnos se realizaron en diferentes instalaciones, por lo que               
                            se procederá a guardar el registro en el LOG, sin que este afecte su marcación<p />
                            <div style='font: normal 11px Tahoma; color: white; border-top: solid 2px white!important; padding-top: 8px;'>Sistema de Marcación Docente</div>
                        </div>
                    </div>
                </div>
            </div>
    
        }    
    }                   
}
