﻿@model IList<LICL_AsistenciaDocente_EL.E_Alumno>

@{
    ViewBag.Title = "Asistencia de alumnos";
}

<style>
    .btn span.glyphicon
    {
        opacity: 0;
    }

    .btn.active span.glyphicon
    {
        opacity: 1;
    }
</style>

<script type="text/javascript">

    function revocardelegado(institution, grado, strm, clase, delegado, nomdelegado, curso) {
        $('#formv2')[0].reset();
        $('#mdnomdelegado').val(nomdelegado);
        $('#mdcurso').val(curso);

        $('#mdinstitution').val(institution);
        $('#mdgrado').val(grado);
        $('#mdstrm').val(strm);
        $('#mdclase').val(clase);
        $('#mddelegado').val(delegado);

        $('#modal_formv2').modal('show');
    }

    function savere() {     
        //var fd = new FormData();
        var ct = $("#ct").val();

        //fd.append("sInstitucion", $('#mdinstitution').val());
        //fd.append("sGrado", $('#mdgrado').val());
        //fd.append("sStrm", $('#mdstrm').val());
        //fd.append("sClase", $('#mdclase').val());
        //fd.append("sDelegado", $('#mddelegado').val());
        
        sInstitucion = $('#mdinstitution').val();
        sGrado = $('#mdgrado').val();
        sStrm = $('#mdstrm').val();
        sClase = $('#mdclase').val();
        sDelegado = $('#mddelegado').val();
        
        $.ajax({
            //url: '/Asistencia/Revocardelegado',
            //data: fd,
            //processData: false,
            //contentType: false,
            //type: 'POST',

            type: 'POST',
            url: '/Asistencia/Revocardelegado',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ sInstitucion: sInstitucion, sGrado: sGrado, sStrm: sStrm, sClase: sClase, sDelegado: sDelegado }),
            dataType: 'json',

            success: function (data) {
                if (data) {                   
                    for (i = 0; i < ct; i++) {
                        $("#label_" + i).removeClass("disabled");
                        $("#label_" + i).removeClass("active");
                        $("#tr_" + i).attr("style", "");
                        $("#span_" + i).attr("style", "");
                    }

                    $("#flag").val('0');
                    $("#institucion").val('');
                    $("#grado").val('');
                    $("#strm").val('');
                    $("#clase").val('');
                    $("#delegado").val('');
                    $("#emplid").val('');
                    $("#name").val('');
                    $("#btnRD").remove();                    

                    $('#modal_formv2').modal('hide');                    
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error al actualizar');
            }
        });
    }

    function htmlDecode(value) {
        return $("<div/>").html(value).text();
    }

    function detector(obj) {
        if ($('#flag').val() == "0") {
            var str = $(obj).val();
            var myarr = str.split("|");
            var var1 = myarr[0];
            var var2 = myarr[1];
            var var3 = htmlDecode(myarr[2]);
            $('#delegado').val(var1);
            $('#emplid').val(var2);
            $('#name').val(var3);
        }
    }

    function notify() {
        if ($('#flag').val() == "0") {
            $('#notificacion_reserva').slideDown();
        }
        $('#notifyDiferenciaIPs').slideDown();
    }

    setTimeout(notify, 1000);
</script>
<div class="container" style="background-color: white; width: 700px; padding: 50px;">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="table-responsive">
        @*@using (Html.BeginForm("Edit", "MyController", FormMethod.Post))*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            if (ViewBag.msjError != null && ViewBag.msjError != "")
            {
            <div class="alert alert-danger" role="alert">@ViewBag.msjError</div>
            <hr />
            @Html.ActionLink("Cancelar", "Horario", "Asistencia", null, new { @class = "btn btn-primary" });
            }
            else
            {  
                
            <input class="form-control" type="hidden" name="flag" id="flag" value="@ViewBag.flagDelegado"/>
            <input class="form-control" type="hidden" name="institucion" id="institucion" value="@ViewBag.institucion"/>   
            <input class="form-control" type="hidden" name="grado" id="grado" value="@ViewBag.grado"/>   
            <input class="form-control" type="hidden" name="strm" id="strm" value="@ViewBag.strm"/>   
            <input class="form-control" type="hidden" name="clase" id="clase" value="@ViewBag.clase"/>  
            <input class="form-control" type="hidden" name="delegado" id="delegado" value="@ViewBag.delegado"/>            
            <input class="form-control" type="hidden" name="emplid" id="emplid" value="@ViewBag.emplid"/>            
            <input class="form-control" type="hidden" name="name" id="name" value="@ViewBag.name"/>      
                  
            <input class="form-control" type="hidden" name="curso" id="curso" value="@ViewBag.curso"/>            
            <input class="form-control" type="hidden" name="ct" id="ct" value="@Model.Count()"/>
           
            <div class="btn-group" data-toggle="buttons">
                <table class="table table-striped  table-bordered  table-condensed">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            @*<th>Codigo</th>*@
                            <th>Apellidos y Nombres</th>
                            <th>¿Asistió?</th>
                            <th>Delegado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            string sIcon = (@ViewBag.Browser.ToString() == "InternetExplorer") ? "asterisk" : "ok";
                            string cad1 = String.Empty;
                            string cad2 = String.Empty;
                            string cad3 = String.Empty;
                            if (@ViewBag.flagDelegado == "1" || @Html.DisplayFor(x => x[i].STATUS).ToString() == "D")
                            {
                                cad1 = "disabled";
                                cad2 = (@ViewBag.delegado.ToString() == @Html.DisplayFor(x => x[i].CODIGO_UTP).ToString()) ? "style=opacity:1" : "style=opacity:0";
                                cad3 = (@ViewBag.delegado.ToString() == @Html.DisplayFor(x => x[i].CODIGO_UTP).ToString()) ? "style=background:#ffc" : (@Html.DisplayFor(x => x[i].STATUS).ToString() == "D") ? "style=color:silver;font-weight:bold" : "";
                            }
                            else
                            {
                                cad1 = "";
                                cad2 = "";
                                cad3 = "";
                            }                             
                            
                            <tr id="tr_@i" @cad3 >
                                <td>@(i + 1)</td>
                                <td>
                                    @Html.DisplayFor(x => x[i].APELLIDO_PATERNO) @Html.DisplayFor(x => x[i].APELLIDO_MATERNO),
                                    @Html.DisplayFor(x => x[i].NOMBRES) - @Html.DisplayFor(x => x[i].CODIGO_UTP)
                                </td>
                                <td>
                                    @Html.HiddenFor(x => x[i].ALUMNO)
                                    @Html.HiddenFor(x => x[i].INSTITUCION)
                                    @Html.HiddenFor(x => x[i].CICLO_LECTIVO)
                                        @*@Html.HiddenFor(x => x[i].MATERIA)
                                        @Html.HiddenFor(x => x[i].N_CATALOGO)*@
                                    @Html.HiddenFor(x => x[i].CARRERA_ACADEMICA)
                                        @*@Html.HiddenFor(x => x[i].CAMPUS)
                                        @Html.HiddenFor(x => x[i].SESION)*@
                                    @Html.HiddenFor(x => x[i].N_CLASE)
                                        @*@Html.HiddenFor(x => x[i].N_SECCION)
                                        @Html.HiddenFor(x => x[i].FECHA_ASISTENCIA)*@
                                    @Html.HiddenFor(x => x[i].ALUMNO)
                                    @Html.HiddenFor(x => x[i].PRESENTE)
                                        @*@Html.HiddenFor(x => x[i].TARDE)
                                        @Html.HiddenFor(x => x[i].SALIO_TEMPRANO)
                                        @Html.HiddenFor(x => x[i].MOTIVO)*@
                                    @Html.HiddenFor(x => x[i].HORA_INI)

                                    @{ 
                            if (@Html.DisplayFor(x => x[i].STATUS).ToString() == "D")
                            {
                                             @Html.CheckBoxFor(x => x[i].ASISTENCIA, new Dictionary<String, object> { { "data-toggle", ((i == 3) ? "toggle-" : "toggle") }, { "disabled", "true" }, { "data-on", "Si" }, { "data-off", "No" }, { "data-onstyle", "primary" }, { "data-offstyle", "default" }, { "data-size", "small" } })
                            }
                            else
                            {
                                            @Html.CheckBoxFor(x => x[i].ASISTENCIA, new Dictionary<String, object> { { "data-toggle", ((i == 3) ? "toggle-" : "toggle") }, { "data-on", "Si" }, { "data-off", "No" }, { "data-onstyle", "primary" }, { "data-offstyle", "default" }, { "data-size", "small" } })
                            }                                       
                                    }
                                    @*@Html.CheckBoxFor(x => x[i].ASISTENCIA, new Dictionary<String, object> { { "data-toggle", ((i == 3) ? "toggle-" : "toggle") }, { "data-on", "Si"}, { "data-off", "No" }, { "data-onstyle", "primary" }, { "data-offstyle", "default" }, { "data-size", "small" } })*@
                                </td>
                                <td align="center">
                                    @{
                                        if (@Html.DisplayFor(x => x[i].STATUS).ToString() == "D")
                                        {
                                            <label id="label_@i" class="btn btn-default @cad1">                                        
                                                <span id="span_@i" class="glyphicon glyphicon-@sIcon" @cad2 ></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label id="label_@i" class="btn btn-primary @cad1">                                        
                                                <input type="radio" name="options" id="option_@i" onchange="detector('#option_@i')" value="@Html.DisplayFor(x => x[i].CODIGO_UTP)|@Html.DisplayFor(x => x[i].ALUMNO)|@Html.DisplayFor(x => x[i].APELLIDO_PATERNO) @Html.DisplayFor(x => x[i].APELLIDO_MATERNO), @Html.DisplayFor(x => x[i].NOMBRES)" class="hide" >
                                                <span id="span_@i" class="glyphicon glyphicon-@sIcon" @cad2 ></span>
                                            </label>                                             
                                        }                                                                                      
                                    }                                                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <hr />
            
            <button class="btn btn-primary" type="submit" id="btnAlu">Guardar</button>           
            @*<input type="submit" id="btnAlu" value="Guardar" class="btn btn-primary" />*@
            @Html.ActionLink("Cancelar", "Horario", "Asistencia", null, new { @class = "btn btn-primary" });
                                                                                                           if (@ViewBag.flagDelegado == "1")
                                                                                                           {
                    <button id="btnRD" value="Revocar Delegado" onclick="revocardelegado($('#institucion').val(), $('#grado').val(), $('#strm').val(), $('#clase').val(), $('#delegado').val(), $('#name').val(),  $('#curso').val())" type="button" class="btn btn-warning">Revocar Delegado</button>
                                                                                                           }
            }

        }
    </div>
</div>

<!-- Bootstrap modal -->
  <div class="modal fade" id="modal_formv2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header" style="background-color:#428bca; color: #FFF;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="titulo">Revocar Delegado</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="formv2" class="form-horizontal">
                   <div class="form-body">
                        <h4 class="box-title">Esta seguro de revocar al delegado?</h4>
				        <input id="mdnomdelegado" name="mdnomdelegado" class="form-control" value="" readonly>
                        <h4 class="box-title">Curso:</h4>
				        <input id="mdcurso" name="mdcurso" class="form-control" value="" readonly>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>
			        <input id="mdinstitution" name="mdinstitution" class="form-control" value="" type="hidden">
			        <input id="mdgrado" name="mdgrado" class="form-control" value="" type="hidden">
			        <input id="mdstrm" name="mdstrm" class="form-control" value="" type="hidden">
			        <input id="mdclase" name="mdclase" class="form-control" value="" type="hidden">
			        <input id="mddelegado" name="mddelegado" class="form-control" value="" type="hidden">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" onclick="savere()" class="btn btn-primary">Revocar</button>
                <button type="button" id="btnSalirDelegado" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
  </div>
<!-- End Bootstrap modal -->  

<div id="notificacion_reserva" style="bottom: 5px; right: 5px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000; display: none;">
    <div class="notibar" id="notibar">
        <div class='wrap_noti alerta notify'
            style='overflow: hidden; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 5px solid rgb(255, 194, 55); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px; color: rgb(130, 98, 0); width: 310px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==) 0% 0% repeat-x scroll rgb(255, 234, 168);'>
            <div align="right"><a href='#' class='icon-remove' onclick="$('#notificacion_reserva').slideUp();">x</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div style="font: normal 13px Tahoma; padding: 5px 5px 5px 5px;">
                <p><b>- Alerta! -</b></p>
                Estimado(a) Docente <b>@ViewBag.docente</b><br />
                debe elegir un delegado para la clase &laquo;<b>@ViewBag.clase</b>&raquo;<br />
                de la asignatura &laquo;<b>@ViewBag.curso</b>&raquo;<p />               
                Recuerde que la elección del delegado se debe registrar hasta la &laquo;<b>Semana 3</b>&raquo;<p />
                <div style='font: normal 11px Tahoma; color: gray; border-top: solid 2px rgb(255, 194, 55); padding-top: 8px;'>Sistema de Marcación Docente</div>
            </div>
        </div>
    </div>
</div>
