﻿<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <title>..::Universidad Tecnológica del Perú::..</title>

    <link href="~/favi.png" rel="icon" type="image/x-icon" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-dialog.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


</head>
<body>
    <header>
        @Html.Partial("_PartialHeader")
    </header>
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_PartialDocente")
    }
    <div class="container">
        @RenderBody()
    </div>

    @*<div id="notifications" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Configuracion de alertas</h4>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="modal-body">
                        <p>Configure sus alertas</p>

                        <label for="txtTelefono">Telefono</label>
                        <div class="input-group">

                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>


                            <input type="tel" id="txtTelefono" class="form-control" />
                        </div>

                        <label for="txtCorreo">Correo electronico</label>
                        <div class="input-group">

                            <span class="input-group-addon" id="basic-addon2">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>

                            <input type="email" id="txtCorreo" class="form-control" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                }
            </div>*@
  @*  </div>
    </div>*@


    <!--==============================================================
                            SCRIPTS
        ==============================================================-->
    
    <script src="~/js/jquery-1.11.3.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/bootstrap-dialog.min.js"></script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.Partial("_PartialFooter")


    <script>
        //$("#msg").modal('show');

        $('#pwd').bind('keyup', function (e) {
            var key = e.keyCode || e.which;
            if (key === 13) {
              //  alert("Enter");
                this.submit();
            };
        });

        //$('#btnlog').click(function () {
          //  $('#btnlog').attr('disabled', true);
        //});


        $("#btnlog").closest('form').on('submit', function (e) {
            e.preventDefault();
            $('#btnlog').attr('disabled', true);
            this.submit(); // ahora hace el submit de tu formulario.
        });

    </script>

</body>
</html>