﻿@*<div class="footer">
        <div class="container">
            Mesa de Ayuda : Teléfono 01 315-9606 | <a href="http://mesadeayuda.utp.edu.pe" target="_blank">mesadeayuda.utp.edu.pe</a><br />
            Copyright © 2016, Universidad Tecnológica del Perú | <a href="Docs/Aviso_Privacidad.pdf" target="_blank">Aviso de privacidad</a> | <a href="Docs/Terminos_Uso.pdf" target="_blank">Términos y condiciones de uso</a>
        </div>
    </div>*@



@*<input type="hidden">@ip</10>*@

<script>
    console.log("Type = @Request.Browser.Type");
    console.log("Name = @Request.Browser.Browser");
    console.log("Version = @Request.Browser.Version");
    @*console.log("Major Version = @Request.Browser.MajorVersion");
    console.log("Minor Version = @Request.Browser.MinorVersion");*@
    console.log("Platform = @Request.Browser.Platform");
    @*
    console.log("Is Beta = @Request.Browser.Beta");
    console.log("Is Crawler = @Request.Browser.Crawler");
    console.log("Is AOL = @Request.Browser.AOL");
    console.log("Is Win16 = @Request.Browser.Win16");
    console.log("Is Win32 = @Request.Browser.Win32");
    console.log("Supports Frames = @Request.Browser.Frames");
    console.log("Supports Tables = @Request.Browser.Tables");
    console.log("Supports Cookies = @Request.Browser.Cookies");
    console.log("Supports VBScript = @Request.Browser.VBScript");
    *@
    console.log("Local AS = @ViewBag.local_as");
    console.log("Local PS = @ViewBag.local_ps");
    @*console.log("Session ID = @Session.SessionID");*@
    console.log("IP ADDRESS = @Request.ServerVariables["REMOTE_ADDR"]");
</script>
