﻿@model List<LICL_AsistenciaDocente_EL.E_Alumno>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid" style="background-color: white; width: 700px">
    <h2>Index</h2>
    <div class="table-responsive">
        <table class="table table-striped  table-bordered table-condensed">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>NOMBRE Y APELLIDO</th>
                    <th>ASISTENCIA</th>
                </tr>
            </thead>
            <tbody>

                @foreach (LICL_AsistenciaDocente_EL.E_Alumno alumno in Model)
                {         
                    <tr>
                        <td>@alumno.codigo</td>
                        <td>@alumno.nombres</td>
                        <td>
                            <input type="checkbox" data-toggle="toggle" data-on="Asistio" data-off="Falto" data-onstyle="success" data-offstyle="danger" data-width="150" data-height="10">
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
