﻿@model  LICL_AsistenciaDocente_EL.E_Horario

@{
    ViewBag.Title = @ViewBag.Nombres;
}


<div class="jumbotron" style="background-color: white">
    <div class="container">
        <h2>Hola, @ViewBag.Nombres </h2>
        <p>Tienes la siguiente programacion:</p>

        @using (Html.BeginForm("Process", "Docente", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            <table class="table table-bordered">
                <tr>
                    <th>Empresa</th>
                    <td>@Html.DisplayFor(m => m.codigo_empresa)</td>

                </tr>
                <tr>
                    <th>Docente</th>
                    <td>@Html.DisplayFor(m => m.codigo_docente)</td>
                </tr>
                <tr>
                    <th>Curso</th>
                    <td>@Html.DisplayFor(m => m.codigo_curso) - @Html.DisplayFor(m => m.nombre_curso)</td>
                </tr>
                <tr>
                    <th>Ambiente</th>
                    <td>@Html.DisplayFor(m => m.codigo_ambiente)</td>
                </tr>
                <tr>
                    <th>Periodo</th>
                    <td>@Html.DisplayFor(m => m.anio_academico) - @Html.DisplayFor(m => m.periodo_academico)</td>
                </tr>

                <tr>
                    <th>Dia</th>
                    <td>@Html.DisplayFor(m => m.dia_semana)</td>
                </tr>
                <tr>
                    <th>Turno</th>
                    <td>@Html.DisplayFor(m => m.turno)</td>
                </tr>
                <tr>
                    <th>Seccion</th>
                    <td>@Html.DisplayFor(m => m.seccion)</td>
                </tr>
                <tr>
                    <th>Fecha Ingreso</th>
                    <td>@Html.DisplayFor(m => m.marcaEntrada)</td>
                </tr>
                <tr>
                    <th>Fecha Salida</th>
                    <td>@Html.DisplayFor(m => m.marcaEntrada)</td>
                </tr>
            </table>
            <p>

                @if (Model.marcaEntrada.Year == 1)
                {
                    @Html.ActionLink("Marcar entrada", "marcarIngreso", "Docente", null, new { @class = "btn btn-success" })                 
                }
                else
                {
                    @Html.ActionLink("Marcar salida", "marcarSalida", "Docente", null, new { @class = "btn btn-success" })
                }

                @Html.ActionLink("Tomar Asistencia", "tomarAsistencia", "Docente", null, new { @class = "btn btn-info" })
            </p>
        }
    </div>
</div>
