﻿<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <title>..::Universidad Tecnológica del Perú::..</title>
    <link href="~/favi.png" rel="icon" type="image/x-icon" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery-1.11.3.js"></script>
</head>
<body>
    <header>
        @Html.Partial("_PartialHeader");
    </header>
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_PartialDocente");
    }
    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial("_PartialFooter");
    
    
    
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Configuracion de alertas</h4>
                    </div>
                    @using (Html.BeginForm())
                    {
                        <div class="modal-body">
                            <p>Configure sus alertas</p>
                            <label for="txtTelefono">Telefono</label>
                            <input type="tel" id="txtTelefono" class="form-control" />
                            <label for="txtCorreo">Correo electronico</label>
                            <input type="email" id="txtCorreo" class="form-control" />

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    }
                </div>

            </div>
        </div>


    <!--==============================================================
                            SCRIPTS
        ==============================================================-->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
