﻿<footer class="footer">
    @*<id class="container">Universidad Tecnológica del Perú</id>*@

    <div style="padding-left: 25px; padding-bottom: 10px; font-size: 12px; text-align:center">
        <sub>Servicio de Atención al Estudiante (SAE) | web <a href="http://saeutp.zendesk.com" target="_blank">sae.utp.edu.pe</a><br>
            Mesa de Ayuda : Email mesadeayuda@utp.edu.pe | Teléfono 01 315-9606 | web <a href="http://mesadeayuda.utp.edu.pe" target="_blank">mesadeayuda.utp.edu.pe</a>
            <br>
            Copyright © 2014, Universidad Tecnológica del Perú | <a href="Docs/Terminos_Uso.pdf" target="_blank">Términos y condiciones de uso</a> | <a href="Docs/Aviso_Privacidad.pdf" target="_blank">Aviso de privacidad</a>
        </sub>
    </div>

</footer>
