﻿@*<h1 class="logo">
    <img src="~/Images/logo.png" />
    CONTROL DE ASISTENCIA
</h1>



<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Sistema de Control de asistencia</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Configurar Alertas", "configurar", "alertas")</li>
                <li>@Html.ActionLink("Salir", "salir", "Inicio")</li>
            </ul>
        </div>
    </div>
</nav>*@



<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                <img style="max-width: 100px; margin-top: -7px;" src="~/Images/logo.png">
            </a>
            <span class="navbar-brand">Sistema de Control de asistencia</span>
        </div>

        @if (Request.IsAuthenticated)
        {
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">Configurar Alertas</a>
                    </li>
                    <li>@Html.ActionLink("Salir", "Logoff", "Inicio")</li>
                </ul>
            </div>
        }
    </div>
</nav>
