﻿<div class="header">

    <div class="navbar" style="background-color: white">
        <div style="text-align: center; display: block">
            <img src="~/Images/logo.png" style="height: 80px;" />
        </div>
        @if (Request.IsAuthenticated)
        {
            <div style="display: block; text-align: right">
                @*@Html.ActionLink("Salir", "LogOff", "Asistencia")*@

                <a href="@Url.Action("Logoff", "Asistencia")">
                    <span class="glyphicon glyphicon-off"></span> Cerrar Sesión
                </a>
            </div>
        }
    </div>
</div>



@*
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <span class="navbar-brand">Sistema de Control de asistencia
                    </span>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="@Url.Action("Logoff", "Asistencia")" >
                                <span class="glyphicon glyphicon-off"></span>Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    }   *@


